#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 20px;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 25px;
}
#slider-1 H1 {
  color: #ffffff;
}
#slider-1 P {
  text-align: center;
}
#slider-1 .btn {
  font-size: 24px;
}
#slider-1 DIV {
  font-size: 36px;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2 .mbr-navbar__items a {
  font-size: 20px;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 25px;
}
#content5-3 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 46px;
}
#content5-3 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3 .mbr-article {
  color: #fff;
  text-align: center;
}
#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-4 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-4 .mbr-navbar__items a {
  font-size: 20px;
}
#ext_menu-4 .mbr-brand__name a {
  font-size: 25px;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#content5-5 .mbr-article P {
  text-align: center;
}
